body {
    font-family: 'Karla', sans-serif;
    font-size: 12pt;
    color: #555;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
}

/* Bio */

#bio>h2 {
    color: #888;
    margin-bottom: 1em;
}