---
layout: default
title: Don Goodman-Wilson
---
<div id="bio">
    <h1>{{ page.title }}</h1>
    <h2>Engineer & Tinkerer</h2>

    <div class="row">
        <div class="col-md-8">
            <p>I’m a philosopher-engineer experienced in architecting amazing products with successful early-stage
                startups.</p>
            <p>My heart lies in engineering cool products with smart, friendly people. I work on Slack’s
                Platform, leading a brilliant team that builds relationships and tools with our developers. Throughout
                my
                career I have engaged emerging technologies from many approaches: streaming media, embedded hardware,
                TODO and even the model railroading industry. I’ve proven my grit by achieving my PhD philosophy, and my
                training in the philosophy of mind and neuroscience informs my work as an engineer.
                When I am not working, I love traveling, sailing, foreign languages and
                enjoying all life has to offer with my wife and daughter by my side.</p>
        </div>
    </div>
</div>


<!-- Professional work -->
<h2>Work</h2>
<div class="row" id="work">
    <div class="col-md-6">
        <h3>Slack</h3>
        <p>TODO I am leading the Developer Tools team within Developer Relations. I have worked on nearly every part of
            the Slack technology stack.</p>
    </div>
    <div class="col-md-6">
        <h3>Screenhero</h3>
        <p>TODO Everything from meddling with mice and USB streams at the kernel level in C, to responsive single-page
            web apps in JS and Ruby, to business development and marketing.</p>
    </div>
    <div class="col-md-6">
        <h3>Railstars</h3>
        <p>TODO As the sole member of Railstars Limited, I design, test, manufacture, sell, and ship custom electronics
            for model railroad applications.</p>
    </div>
</div>

<!-- Side projects -->
<h2>Projects & Fun</h2>
<small>Just want to see the code? Some of my stuff is <a href="http://github.com/DEGoodmanWilson">open
    source</a>.
</small>
<div class="row" id="projects">
    {% assign sorted_side = site.side | sort:"order" %}
    {% for item in sorted_side %}
    <div class="col-md-4">
        <h3>{{ item.title }}
            <small><a href="{{ item.link }}">link</a></small>
        </h3>
        <p>{{ item.content }}</p>
    </div>
    {% endfor %}
</div>

<!-- Talks -->
<h2>Selected Talks</h2>
<div class="row">
    {% assign sorted_talks = site.talks | sort:"order" %}
    {% for item in sorted_talks %}
    <div class="col-md-6">
        <h3>{{ item.title }}{% if item.link %}
            <small><a href="{{ item.link }}">link</a></small>
            {% endif %}
        </h3>
        {% if item.media %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ item.media }}" allowfullscreen></iframe>
        </div>
        {% endif %}
        <p>{{ item.content }}</p>
    </div>
    {% endfor %}
</div>